# Backend
flask==3.0.3             # or FastAPI if preferred

# Data handling
pandas==2.1.0
numpy==1.26.4

# Visualization
folium==0.16.0
matplotlib==3.9.1

# Optional for simulation / detection
faker==25.0.0
scikit-learn==1.5.0

# Security / authentication
#hmac==0.12.1

# Testing
pytest==8.3.2
requests==2.32.0
