html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  background-color: #0b1216;
}
<<<<<<< HEAD

=======
>>>>>>> 1acd6422434863ab27f208dc6f5fd59eb96ca5eb
